h1 Home State

h4 MLF is working on the home page, nav, &amp; website theme/UI.

html.marketing-layout.pages-controller.index-action.chrome.webkit.osx(lang='en')
  head
    title Learn Web Design, Web Development, and More | Treehouse
    meta(charset='UTF-8')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    script(type='text/javascript').
      window.NREUM||(NREUM={});NREUM.info={"beacon":"beacon-4.newrelic.com","errorBeacon":"bam.nr-data.net","licenseKey":"d98036d1cc","applicationID":"1824378","transactionName":"cQ5eRRQNCQ8BFhZIVlUEQx4PDAEGHA==","queueTime":1,"applicationTime":38,"agentToken":null,"agent":"js-agent.newrelic.com/nr-476.min.js"}
    script(type='text/javascript').
      window.NREUM||(NREUM={}),__nr_require=function(t,e,n){function r(n){if(!e[n]){var o=e[n]={exports:{}};t[n][0].call(o.exports,function(e){var o=t[n][1][e];return r(o?o:e)},o,o.exports)}return e[n].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<n.length;o++)r(n[o]);return r}({QJf3ax:[function(t,e){function n(t){function e(e,n,a){t&&t(e,n,a),a||(a={});for(var c=u(e),f=c.length,s=i(a,o,r),p=0;f>p;p++)c[p].apply(s,n);return s}function a(t,e){f[t]=u(t).concat(e)}function u(t){return f[t]||[]}function c(){return n(e)}var f={};return{on:a,emit:e,create:c,listeners:u,_events:f}}function r(){return{}}var o="nr@context",i=t("gos");e.exports=n()},{gos:"7eSDFh"}],ee:[function(t,e){e.exports=t("QJf3ax")},{}],gos:[function(t,e){e.exports=t("7eSDFh")},{}],"7eSDFh":[function(t,e){function n(t,e,n){if(r.call(t,e))return t[e];var o=n();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(t,e,{value:o,writable:!0,enumerable:!1}),o}catch(i){}return t[e]=o,o}var r=Object.prototype.hasOwnProperty;e.exports=n},{}],D5DuLP:[function(t,e){function n(t,e,n){return r.listeners(t).length?r.emit(t,e,n):(o[t]||(o[t]=[]),void o[t].push(e))}var r=t("ee").create(),o={};e.exports=n,n.ee=r,r.q=o},{ee:"QJf3ax"}],handle:[function(t,e){e.exports=t("D5DuLP")},{}],XL7HBI:[function(t,e){function n(t){var e=typeof t;return!t||"object"!==e&&"function"!==e?-1:t===window?0:i(t,o,function(){return r++})}var r=1,o="nr@id",i=t("gos");e.exports=n},{gos:"7eSDFh"}],id:[function(t,e){e.exports=t("XL7HBI")},{}],loader:[function(t,e){e.exports=t("G9z0Bl")},{}],G9z0Bl:[function(t,e){function n(){var t=l.info=NREUM.info;if(t&&t.agent&&t.licenseKey&&t.applicationID&&c&&c.body){l.proto="https"===p.split(":")[0]||t.sslForHttp?"https://":"http://",a("mark",["onload",i()]);var e=c.createElement("script");e.src=l.proto+t.agent,c.body.appendChild(e)}}function r(){"complete"===c.readyState&&o()}function o(){a("mark",["domContent",i()])}function i(){return(new Date).getTime()}var a=t("handle"),u=window,c=u.document,f="addEventListener",s="attachEvent",p=(""+location).split("?")[0],l=e.exports={offset:i(),origin:p,features:{}};c[f]?(c[f]("DOMContentLoaded",o,!1),u[f]("load",n,!1)):(c[s]("onreadystatechange",r),u[s]("onload",n)),a("mark",["firstbyte",i()])},{handle:"D5DuLP"}]},{},["G9z0Bl"]);
    meta(content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
    link(href='main.css', media='screen', rel='stylesheet')
  body(id='')
    header.header
      .row
        .four.columns.logo-container
          h2.th-logo
            a(href='/')
        // /four column
        a.menu-toggle.icon.icon-hamburger-white(href='#')
        nav.eight.columns.toggle-jump.main-nav
          ul.nav.right
            li.features
              a(href='/features') Features
            li.pricing
              a(href='/subscribe/plans?trial=yes') Pricing
            li
              a.featurette(data-featurette='modal-trigger', data-mobile-fallback='doit', data-target='login-modal', href='https://teamtreehouse.com/signin?return_to=%2Fhome') Sign in
            li.sign-up
              a.btn.btn-trans.btn-solid.btn-tiny(href='/subscribe/plans?trial=yes') Free trial
          // /nav right
        // /eight columns
      // /row
      .row
        .eight.columns.end
          .header-content
            h1 MiScEO
            h2.subheading
              | safe for work
            a.btn.btn-primary.btn-raised.btn-large(href='#') Free trial
            a.btn.btn-quiet.btn-raised.btn-large(href='/#') How it works
      // /row
    // /header
    .section.proof-points.featurette(data-featurette='marketing-home')
      .row.learn.indented
        .six.columns.image-ex
          // Static learn graphic
          img.at-your-pace(alt='At your pace', src='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/new-marketing/at-your-pace-04c0d88269ae539a1f0678a4ed1599d1.svg')
          // Animated learn graphic
          #webApp
            #webFinderBar
              | &bull;&bull;&bull;
            #webNavBar
              ul
                li
                  span
                li
                  span
                li
                  span
                li
                  span
            #webAppContainer
              img#webApp1.web-app-screen(alt='Learn web 1', src='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/new-marketing/learn-web-1-65b9fa138c0401d2e9bc19a2d3269430.png')
              img#webApp2.web-app-screen(alt='Learn web 2', src='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/new-marketing/learn-web-2-9ab9165cd81d6c4d2b164892f787beab.png')
              img#webApp3.web-app-screen(alt='Learn web 3', src='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/new-marketing/learn-web-3-e79474e9565cf1f3dccce79e5e2e39e5.png')
          #ipadApp
            #ipadNavBar
              ul
                li
                  span
                li
                  span
                li
                  span
            #ipadAppContainer
              img#ipadApp1.ipad-app-screen(alt='Learn ipad 1', src='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/new-marketing/learn-ipad-1-626dcd8f167f5c76be0beef966b8d5a8.png')
              img#ipadApp2.ipad-app-screen(alt='Learn ipad 2', src='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/new-marketing/learn-ipad-2-3cae77d67b9e538db47bcd100cad046c.png')
              img#ipadApp3.ipad-app-screen(alt='Learn ipad 3', src='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/new-marketing/learn-ipad-3-36660e6389e0744dc562bcc7b0f640bf.png')
          // /animated learn graphic
        .six.columns.proof-content
          h3.comp-left(data-trigger-animation='learn')
            | Learn at your
            | pace
          p
            | Learn from over 1000 videos created by our expert teachers on web
            | design, coding, business, and much more. Our library is continually
            | refreshed with the latest on web technology so you&apos;ll never fall
            | behind.
          a.callout-link(href='#')
            | Check out our library
            span.icon.icon-arrow-right-dark
      .row.practice.indented
        .six.columns.push-six.image-ex
          // Static practice graphic
          img.practice-perfect(alt='Practice perfect', src='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/new-marketing/practice-perfect-34435b4aed2912247ea9733e4deec877.svg')
          // Animated practice graphic
          #practiceContainer
            ul.fake-code-block
              li
                span.pink-code-block(style='width: 45px;')
              li
                span.purp-code-block(style='width: 65px;')
                span.white-code-block(style='width: 35px;')
              li
                span.white-code-block(style='width: 30px;')
                span.pink-code-block(style='width: 95px;')
              li
                span.pink-code-block(style='width: 85px;')
              li
                span.purp-code-block(style='width: 50px;')
                span.white-code-block(style='width: 40px;')
            img.practice-bg(alt='Practice bg', src='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/new-marketing/practice-bg-13a6697ad08ae5f25baf923ff3da7170.svg')
          // /animated practice graphic
        .six.columns.pull-six.proof-content
          h3(data-trigger-animation='practice') Practice makes perfect
          p
            | Practice what you&apos;ve learned through quizzes and interactive Code
            | Challenges. This style of practicing will allow you to retain
            | information you&apos;ve learned so you can apply it to your own future
            | projects.
          a.callout-link(href='#')
            | Compare
            | pricing plans 
            span.icon.icon-arrow-right-dark
      .row.earn.indented
        .six.columns.image-ex
          // Static earn graphic
          img.earn-skills(alt='Earn skills', src='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/new-marketing/earn-skills-9821fde7e2c9afadb3549c73246e09b8.svg')
          #earnContainer
            span.red-blip
            span.blue-plus
              span
            span.blue-blip
            span.green-plus
              span
            img.earn-bg(alt='Earn bg', src='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/new-marketing/earn-bg-ec7cd6c67ef1055367b8964740abb45b.svg')
        .six.columns.proof-content
          h3(data-trigger-animation='earn')
            | Earn achievements,
            br.hide-for-small
            |         show off skills
          p
            | You&apos;ll earn badges as you journey through our extensive library of
            | courses. These badges are an indicator of what skills you currently
            | possess and are viewable by anyone online.
          a.callout-link(href='#')
            | Sign up
            | to start earning 
            span.icon.icon-arrow-right-dark
    .section.ipad
      .row
        .seven.columns.end
          h3 On the web and mobile
          p
            | With a web site crafted to work on every major device and dedicated
            | mobile apps for both the iPad and Android devices, we&apos;re there to help
            | you learn.
          a.btn.btn-quiet.btn-raised.btn-medium(href='#')
            | Treehouse
            | for iPad
          a.btn.btn-quiet.btn-raised.btn-medium(href='#') Treehouse for Android
    .row.trusted
      .twelve.columns
        .centered-content
          h2 Trusted worldwide
          p.subheading
            | Over 86,000 students and companies, ranging from
            | beginners to professionals,
            br.hide-for-small
            |       use Treehouse to develop and improve their skills.
          img.company-logos(alt='Companies badge', src='#')
        .row.quotes
          .four.columns
            blockquote.quote-text
              a(href='#')
                | @treehouse
                | is awesome! Learning so much and changing old habits in coding.
            img.quote-author-pic(src='#')
            p.quote-author
              a(href='#')
                strong
                  | Chris
                  | Gaines
                |  @gaines_chris
          .four.columns
            blockquote.quote-text
              a.tweet(href='#')
                | Learnt
                | more @treehouse in 1 day than i did in 2 semesters at
                | uni[versity]!
            img.quote-author-pic(src='#')
            p.quote-author
              a.twitter-name(href='#')
                strong
                  | Nicholas
                  | Katsambiris
                |  @nkatsambiris
          .four.columns
            blockquote.quote-text
              a(href='#')
                | Rocking
                | @treehouse working towards a better career in a field I love
            img.quote-author-pic(src='#')
            p.quote-author
              a(href='#')
                strong
                  | Dan
                  | Ridley
                |  @DanRidz
        // /quotes
        p.text-centered
          a.callout-link(href='#')
            | Read
            | Treehouse Stories 
            span.icon.icon-arrow-right-dark
      // /twelve columns
    // /row
    .sign-up-cta
      .row
        .eight.columns.centered
          h1
            small Live your dreams
            |  Love your job
          p.subheading
            | Treehouse teaches the in-demand technology skills
            | you need to land your dream job or build a startup.
          a.btn.btn-primary.btn-large.btn-raised(href='#') Start a free trial
    script(type='text/javascript').
      /* <![CDATA[ */
      var google_conversion_id = 1017883234;
      var google_conversion_label = "k4ySCK70wAMQ4tSu5QM";
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    script(src='//www.googleadservices.com/pagead/conversion.js', type='text/javascript')
    noscript
      div(style='display:inline;')
        img(alt='', height='1', src='//googleads.g.doubleclick.net/pagead/viewthroughconversion/1017883234/?value=0&label=k4ySCK70wAMQ4tSu5QM&guid=ON&script=0', style='border-style:none;', width='1')
    // Footer
    .minimal-footer
      .row
        .twelve.columns
          img.minimal-footer-logo(alt='Minimal footer logo', src='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/new-marketing/minimal-footer-logo-e6e7ab1f68d7a7b7fbb3ab10e0aecd92.svg')
          p
            | &copy;2014 Treehouse Island, Inc.
            br
            a(href='http://www.teamtreehouse.com/terms') Terms
            | , 
            a(href='http://www.teamtreehouse.com/privacy') Privacy
            | , 
            a(href='http://www.teamtreehouse.com/support') Contact
          ul.social
            li
              a(href='http://twitter.com/treehouse', title='Twitter')
                span.icon.icon-social-twitter
            li
              a(href='http://facebook.com/teamtreehouse', title='Facebook')
                span.icon.icon-social-facebook
            li
              a(href='http://plus.google.com/110278003536476194286/posts', title='Google Plus')
                span.icon.icon-social-googleplus
            li
              a(href='http://linkedin.com/company/treehouse-island-inc-', title='LinkedIn')
                span.icon.icon-social-linkedin
    
    
    // Dev Footer
    // /row
    // /footer
    // yields content from within treehouse-tour paths. Find helper in application.helper
    #login-modal.modal(data-featurette='modal', style='; display: none;')
      .row
        .five.columns.centered
          section.contained
            button.modal-close.small.square.secondary(data-modal-close='close')
            h1 Sign in
            form#new_user_session.new_user_session(accept-charset='UTF-8', action='https://teamtreehouse.com/person_session', method='post', name='new_user_session')
              div(style='display:none')
                input(name='utf8', type='hidden', value='✓')
                input(name='authenticity_token', type='hidden', value='vKkaN9eFUTmj+pLVYy1ekMpv4baGBBzwbZ36zMA7rsU=')
              input#return_to(name='return_to', type='hidden', value='/home')
              fieldset
                .form-item
                  label(for='user_session_email') Email Address
                  input#user_session_email(autofocus='autofocus', name='user_session[email]', type='email')
              fieldset
                .form-item
                  label(for='user_session_password') Password
                  input#user_session_password(name='user_session[password]', type='password')
              p.forgot-password
                a(href='/password_resets')
                  span.icon.icon-help-mini
                  | I forgot my password
              button.btn.btn-secondary.btn-raised.btn-small(type='submit') Sign in
    #contact-form-modal.modal(data-featurette='help-modal', style='; display: none;')
      .row
        .nine.columns.centered
          #help-form.contained.featurette(data-featurette='help-form')
            .row
              section.twelve.columns.secondary-heading
                h2 Contact Support
                button.modal-close.small.square.secondary(data-modal-close='close')
            .row
              .eight.columns
                .message.waiting
                  span.loading-spinner.loading-spinner-large
                    span
                .message.success
                  p
                    strong Thanks!
                    |  We&apos;ll be in touch.
                form#contact-form.new_contact_form(accept-charset='UTF-8', action='/contact', method='post', name='contact-form')
                  div(style='display:none')
                    input(name='utf8', type='hidden', value='✓')
                    input(name='authenticity_token', type='hidden', value='geMSRILH0ExDNOkgtor9b15NeeLbA3LF7XxE6UJJrAU=')
                  .message.error
                    p There was a small problem sending your message.
                  .form-item
                    label(for='contact_form_name')
                      | Name 
                      span *
                    input#contact_form_name(name='contact_form[name]', type='text')
                    .error-message
                  .form-item
                    label(for='contact_form_email')
                      | Email 
                      span *
                    input#contact_form_email(name='contact_form[email]', type='text')
                    .error-message
                  fieldset.honey-pot-field
                    .form-item
                      label(for='contact_form_email_confirmation')
                        | Email
                        | Confirmation 
                        span *
                      input#contact_form_email_confirmation(name='contact_form[email_confirmation]', type='text', value='')
                      .error-message
                  .form-item
                    label(for='contact_form_message')
                      | Message
                      span *
                    textarea#contact_form_message.form-element(name='contact_form[message]', rows='2')
                    .error-message
                  button.btn.btn-primary.btn-raised.btn-small(type='submit') Send Message
              .four.columns
                .module.secondary-module.contact-alternative
                  p You can also email support requests to:
                  p
                    a(href='mailto:help@teamtreehouse.com')
                      | help
                      span @
                      | teamtreehouse.com
                .module.secondary-module.contact-alternative
                  .secondary-heading
                    h3 Content questions?
                  span.icon.icon-forum
                  p
                    | Don&apos;t forget you can start a discussion in the 
                    a(href='/forum') Forum
                    | . Treehouse teachers and members are actively
                    |                 discussing topics from course material and other general
                    |                 teaching topics.
    #mini-profile-container
    #tarp.modal-tarp(data-featurette='tarp', style='display: none;')
    script(src='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/logged_out-0befe877cd700f193fec3b1aee722950.js')
    script(type='text/javascript').
      $(function() {
      jQuery(function(){
      $('.all-features .form-element > span').html('Features...')
      });
      });
    //script(type='text/javascript').
    //  /* <![CDATA[ */
    //  var google_conversion_id = 1017883234;
    //  var google_custom_params = window.google_tag_params;
    //  var google_remarketing_only = true;
    //  /* ]]> */
    //script(src='//www.googleadservices.com/pagead/conversion.js', type='text/javascript')
    //noscript
    //  div(style='display:inline;')
    //    img(alt='', height='1', src='//googleads.g.doubleclick.net/pagead/viewthroughconversion/1017883234/?value=0&guid=ON&script=0', style='border-style:none;', width='1')
    //script(type='text/javascript').
    //  mixpanel.register({visitor_id: 1152275512});
    //  //  ensure we only send this once per day
    //  if ($.cookie("mpVisited") === undefined) {
    //  mixpanel.track("Visited Site", {path: "/"},
    //  function() { $.cookie("mpVisited", "true", {expires: 1}); });
    //  mixpanel.people.increment('daily_visits');
    //  }
    //  mixpanel.track("Viewed Homepage", {});
    //script.
    //  (function() { var _fbq = window._fbq || (window._fbq = []); if (!_fbq.loaded) { var fbds = document.createElement('script'); fbds.async = true; fbds.src = '//connect.facebook.net/en_US/fbds.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(fbds, s); _fbq.loaded = true; } _fbq.push(['addPixelId', "688952224481965"]); })(); window._fbq = window._fbq || []; window._fbq.push(["track", "PixelInitialized", {}]);
    //noscript
    //  img(alt='', border='0', height='1', src='https://www.facebook.com/tr?id=688952224481965&ev=NoScript', style='display:none', width='1')
    //script(type='text/javascript').
    //  adroll_adv_id = "KIZYNJXKQFHZRL33ET4IIJ";
    //  adroll_pix_id = "5SMHKC6AK5D3DJAZBGP4PX";
    //  (function () {
    //  var oldonload = window.onload;
    //  window.onload = function(){
    //  __adroll_loaded=true;
    //  var scr = document.createElement("script");
    //  var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
    //  scr.setAttribute('async', 'true');
    //  scr.type = "text/javascript";
    //  scr.src = host + "/j/roundtrip.js";
    //  ((document.getElementsByTagName('head') || [null])[0] ||
    //  document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
    //  if(oldonload){oldonload()}};
    //  }());
    //script(type='text/javascript').
    //  (function(A,d,S,t,a,g,e) {
    //  A['AdstageAnalytics']=a;A[a]=A[a]||function(){(A[a].q=A[a].q||[]).push(arguments)};
    //  A[a].l=1*new Date();g=d.createElement(S),e=d.getElementsByTagName(S)[0];
    //  g.async=1;g.src=t;e.parentNode.insertBefore(g, e);
    //  })(window, document, 'script', '//assets.adstage.io/analytics.js', '_as');
    //  _as('create', 'a51b6360-01a7-4e88-9d29-6afdda3e10b7'); _as('send', 'pageview');
