doctype html
html#treehouse-layout.treehouse-layout.dashboard-controller.index-action.desktop-nav-collapsed.chrome.webkit.osx(,data-featurette='treehouse-layout', lang='en')
  head
    title Treehouse | Home
    meta(charset='UTF-8')
    meta(content='Treehouse is the fastest, easiest way to learn to code, make apps, and start a business. Tutorials in CSS, HTML, Ruby, JavaScript, iOS, and more.', name='description')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    script(type='text/javascript').
      window.NREUM||(NREUM={}),NREUM.info={"beacon":"beacon-4.newrelic.com","errorBeacon":"bam.nr-data.net","licenseKey":"d98036d1cc","applicationID":"1824378","transactionName":"cQ5eRRQNCQ8BFhZcVkEJUl4HEAFMDQpdXU8=","queueTime":1,"applicationTime":2826,"agentToken":null,"agent":"js-agent.newrelic.com/nr-476.min.js"}
    script(type='text/javascript').
      window.NREUM||(NREUM={}),__nr_require=function(t,e,n){function r(n){if(!e[n]){var o=e[n]={exports:{}};t[n][0].call(o.exports,function(e){var o=t[n][1][e];return r(o?o:e)},o,o.exports)}return e[n].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<n.length;o++)r(n[o]);return r}({QJf3ax:[function(t,e){function n(t){function e(e,n,a){t&&t(e,n,a),a||(a={});for(var c=u(e),f=c.length,s=i(a,o,r),p=0;f>p;p++)c[p].apply(s,n);return s}function a(t,e){f[t]=u(t).concat(e)}function u(t){return f[t]||[]}function c(){return n(e)}var f={};return{on:a,emit:e,create:c,listeners:u,_events:f}}function r(){return{}}var o="nr@context",i=t("gos");e.exports=n()},{gos:"7eSDFh"}],ee:[function(t,e){e.exports=t("QJf3ax")},{}],gos:[function(t,e){e.exports=t("7eSDFh")},{}],"7eSDFh":[function(t,e){function n(t,e,n){if(r.call(t,e))return t[e];var o=n();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(t,e,{value:o,writable:!0,enumerable:!1}),o}catch(i){}return t[e]=o,o}var r=Object.prototype.hasOwnProperty;e.exports=n},{}],D5DuLP:[function(t,e){function n(t,e,n){return r.listeners(t).length?r.emit(t,e,n):(o[t]||(o[t]=[]),void o[t].push(e))}var r=t("ee").create(),o={};e.exports=n,n.ee=r,r.q=o},{ee:"QJf3ax"}],handle:[function(t,e){e.exports=t("D5DuLP")},{}],XL7HBI:[function(t,e){function n(t){var e=typeof t;return!t||"object"!==e&&"function"!==e?-1:t===window?0:i(t,o,function(){return r++})}var r=1,o="nr@id",i=t("gos");e.exports=n},{gos:"7eSDFh"}],id:[function(t,e){e.exports=t("XL7HBI")},{}],loader:[function(t,e){e.exports=t("G9z0Bl")},{}],G9z0Bl:[function(t,e){function n(){var t=l.info=NREUM.info;if(t&&t.agent&&t.licenseKey&&t.applicationID&&c&&c.body){l.proto="https"===p.split(":")[0]||t.sslForHttp?"https://":"http://",a("mark",["onload",i()]);var e=c.createElement("script");e.src=l.proto+t.agent,c.body.appendChild(e)}}function r(){"complete"===c.readyState&&o()}function o(){a("mark",["domContent",i()])}function i(){return(new Date).getTime()}var a=t("handle"),u=window,c=u.document,f="addEventListener",s="attachEvent",p=(""+location).split("?")[0],l=e.exports={offset:i(),origin:p,features:{}};c[f]?(c[f]("DOMContentLoaded",o,!1),u[f]("load",n,!1)):(c[s]("onreadystatechange",r),u[s]("onload",n)),a("mark",["firstbyte",i()])},{handle:"D5DuLP"}]},{},["G9z0Bl"]);
    meta(content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
    meta(content='4Ga-viQvIZUFNQXu323xpp_24RDlLooxwlpnXhinjPA', name='google-site-verification')
    meta(content='F0716E70B7DD3B8C892B48891CA4B541', name='msvalidate.01')
    meta(content='authenticity_token', name='csrf-param')
    meta(content='vKkaN9eFUTmj+pLVYy1ekMpv4baGBBzwbZ36zMA7rsU=', name='csrf-token')
    link(href='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/treehouse-a4f1870f4f3a424cd1abcf72c7175e9b.css', media='screen', rel='stylesheet')
    link(href='//cloud.typography.com/7055252/762022/css/fonts.css', rel='stylesheet', type='text/css')
    link(href='/assets/favicon.png', rel='shortcut icon')
    link(href='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/apple-touch-icon-57x57-precomposed-2723a124dd5bb03d4ef8532c715a4a78.png', rel='apple-touch-icon-precomposed', sizes='57x57')
    link(href='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/apple-touch-icon-72x72-precomposed-412fe37520efdafb8649bb98df3414da.png', rel='apple-touch-icon-precomposed', sizes='72x72')
    link(href='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/apple-touch-icon-114x114-precomposed-989f2de81aab2108644069050a99d2c7.png', rel='apple-touch-icon-precomposed', sizes='114x114')
    link(href='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/apple-touch-icon-144x144-precomposed-04e46087df6fd244fb153260925e106b.png', rel='apple-touch-icon-precomposed', sizes='144x144')
    // start Mixpanel
    script(type='text/javascript').
      (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
      for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
      mixpanel.init("7b38bdec31b0d42dc60b2c77d946e5ad");
    // end Mixpanel
    // start GoogleAnalytics
    script(type='text/javascript').
      var _gaq = _gaq || [];
      window._gaq = _gaq;
      _gaq.push(['_setAccount', 'UA-25670760-9']);
      _gaq.push(['_setCustomVar', 1, 'logged-in', 'true', 3]);
      _gaq.push(['_setCustomVar', 3, 'account-state', 'active', 3]);
      _gaq.push(['_setCustomVar', 2, 'member', 'true', 1]);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    // end GoogleAnalytics
  body.osx.chrome.webkit(id='')
    header
      ul#account-info
        li#notifications.unread(data-channel='th-production-a89fb8da3d7ecbe9263f3909256a1cab', data-layout-element='notifications')
          a(href='/notifications', title='See all notifications.')
            em.notifications 1
          #notifications-dropdown.dropdown.right
            h4.dropdown-title
              a(href='/notifications') Notifications
            ul
              li#notification-180161232.unread.notification
                a.content-block(href='/notifications/180161232?redirect_to=%2Flibrary%2Fbuild-an-interactive-story-app')
                  .achievement-hero(style='background-color: #51B46D')
                    img(alt='Build an Interactive Story App', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/cover-android-storyapp.png')
                  p
                    strong New Course
                    |  &bull; 1 day ago
                  h3 Build an Interactive Story App
                  p.notification-message
                input(name='unread[]', type='hidden', value='180161232')
              li#notification-179212952.notification
                a.content-block(href='/notifications/179212952?redirect_to=%2Flibrary%2Fepisode-116-css-shapes-responsive-images-angularjs')
                  .achievement-hero(style='background-color: #b7c0c7')
                    img(alt='The Treehouse Show', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/cover-show-treehouse.png')
                  p
                    strong New Episode
                    |  &bull; 3 days ago
                  h3 Episode 116: CSS Shapes, Responsive Images, AngularJS
                  p.notification-message The Treehouse Show
              li#notification-178275792.notification
                a.content-block(href='/notifications/178275792?redirect_to=%2Flibrary%2Fstandards-and-best-practices')
                  .achievement-hero(style='background-color: #7D669E')
                    img(alt='Standards and Best Practices', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/cover-php-standards.png')
                  p
                    strong New Course
                    |  &bull; 4 days ago
                  h3 Standards and Best Practices
                  p.notification-message
              li#notification-177297352.notification
                a.content-block(href='/notifications/177297352?redirect_to=%2Flibrary%2Fdates-and-times-in-python')
                  .achievement-hero(style='background-color: #F092B0')
                    img(alt='Dates and Times in Python', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/cover-python-datetime.png')
                  p
                    strong New Course
                    |  &bull; 9 days ago
                  h3 Dates and Times in Python
                  p.notification-message
              li#notification-176377882.notification
                a.content-block(href='/notifications/176377882?redirect_to=%2Flibrary%2Femberjs')
                  .achievement-hero(style='background-color: #C25975')
                    img(alt='Ember.js', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/cover-js-ember.png')
                  p
                    strong New Course
                    |  &bull; 9 days ago
                  h3 Ember.js
                  p.notification-message
              li#notification-175457832.notification
                a.content-block(href='/notifications/175457832?redirect_to=%2Flibrary%2Fthe-treehouse-show%2Fepisode-115-touch-events-font-downloads-native-webapps')
                  .achievement-hero(style='background-color: #b7c0c7')
                    img(alt='The Treehouse Show', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/cover-show-treehouse.png')
                  p
                    strong New Episode
                    |  &bull; 9 days ago
                  h3
                    | Episode 115: Touch Events, Font Downloads, Native
                    | Webapps
                  p.notification-message The Treehouse Show
              li#notification-174520142.notification
                a.content-block(href='/notifications/174520142?redirect_to=%2Flibrary%2Ftreehouse-club-mash')
                  .achievement-hero(style='background-color: #C25975')
                    img(alt='Treehouse Club - MASH', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/cover-jr-mash.png')
                  p
                    strong New Course
                    |  &bull; 11 days ago
                  h3 Treehouse Club - MASH
                  p.notification-message
              li#notification-173574672.notification
                a.content-block(href='/notifications/173574672?redirect_to=%2Flibrary%2Fswift-enums-and-structs')
                  .achievement-hero(style='background-color: #53BBB4')
                    img(alt='Swift Enums and Structs', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/cover-ios-swiftstructandenums.png')
                  p
                    strong New Course
                    |  &bull; 15 days ago
                  h3 Swift Enums and Structs
                  p.notification-message
              li#notification-172665732.notification
                a.content-block(href='/notifications/172665732?redirect_to=%2Flibrary%2Fgenerate-london-2014%2Fdesigning-for-accessibility')
                  .achievement-hero(style='background-color: #b7c0c7')
                    img(alt='Generate London 2014', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/cover-conference.png')
                  p
                    strong New Episode
                    |  &bull; 15 days ago
                  h3 Designing for Accessibility
                  p.notification-message Generate London 2014
              li#notification-171740572.notification
                a.content-block(href='/notifications/171740572?redirect_to=%2Flibrary%2Fios-local-notifications')
                  .achievement-hero(style='background-color: #53BBB4')
                    img(alt='Ipad default 2x cover workshops', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/ipad_default_2x_cover-workshops.png')
                  p
                    strong New Workshop
                    |  &bull; 17 days ago
                  h3 iOS Local Notifications
                  p.notification-message
              li#notification-170833652.notification
                a.content-block(href='/notifications/170833652?redirect_to=%2Flibrary%2Fsetting-up-a-local-python-environment')
                  .achievement-hero(style='background-color: #F092B0')
                    img(alt='Setting Up a Local Python Environment', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/cover-python-local.png')
                  p
                    strong New Course
                    |  &bull; 17 days ago
                  h3 Setting Up a Local Python Environment
                  p.notification-message
              li#notification-169928252.notification
                a.content-block(href='/notifications/169928252?redirect_to=%2Flibrary%2Fthe-treehouse-show%2Fepisode-114-centering-in-css-responsive-lightboxes-dynamic-animations')
                  .achievement-hero(style='background-color: #b7c0c7')
                    img(alt='The Treehouse Show', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/cover-show-treehouse.png')
                  p
                    strong New Episode
                    |  &bull; 17 days ago
                  h3
                    | Episode 114: Centering in CSS, Responsive Lightboxes, Dynamic
                    | Animations
                  p.notification-message The Treehouse Show
              li#notification-169018792.notification
                a.content-block(href='/notifications/169018792?redirect_to=%2Flibrary%2Fhtml-video-and-audio')
                  .achievement-hero(style='background-color: #39ADD1')
                    img(alt='HTML Video and Audio', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/cover-html-videoaudio.png')
                  p
                    strong New Course
                    |  &bull; 18 days ago
                  h3 HTML Video and Audio
                  p.notification-message
              li#notification-168115242.notification
                a.content-block(href='/notifications/168115242?redirect_to=%2Flibrary%2Fecommerce-with-wordpress-and-woocommerce')
                  .achievement-hero(style='background-color: #838CC7')
                    img(alt='Ecommerce with WordPress and WooCommerce', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/cover-wordpress-ecommerce.png')
                  p
                    strong New Course
                    |  &bull; 18 days ago
                  h3 Ecommerce with WordPress and WooCommerce
                  p.notification-message
              li#notification-167192912.notification
                a.content-block(href='/notifications/167192912?redirect_to=%2Flibrary%2Fruby-loops')
                  .achievement-hero(style='background-color: #E15258')
                    img(alt='Ruby Loops', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/cover-ruby-loops.png')
                  p
                    strong New Course
                    |  &bull; 21 days ago
                  h3 Ruby Loops
                  p.notification-message
              li#notification-166289992.notification
                a.content-block(href='/notifications/166289992?redirect_to=%2Flibrary%2Fdebugging-a-web-app-with-chrome-dev-tools')
                  .achievement-hero(style='background-color: #637a91')
                    img(alt='Ipad default 2x cover workshops', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/ipad_default_2x_cover-workshops.png')
                  p
                    strong New Workshop
                    |  &bull; 22 days ago
                  h3 Debugging a Web App With Chrome Dev Tools
                  p.notification-message
              li#notification-165389822.notification
                a.content-block(href='/notifications/165389822?redirect_to=%2Flibrary%2Fgenesis-framework-foundations')
                  .achievement-hero(style='background-color: #838CC7')
                    img(alt='Genesis Framework Foundations', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/cover-wordpress-genesis.png')
                  p
                    strong New Course
                    |  &bull; 22 days ago
                  h3 Genesis Framework Foundations
                  p.notification-message
              li#notification-164485042.notification
                a.content-block(href='/notifications/164485042?redirect_to=%2Flibrary%2Fjavascript-basics')
                  .achievement-hero(style='background-color: #C25975')
                    img(alt='JavaScript Basics', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/ipad_default_2x_cover-js-foundations.png')
                  p
                    strong New Course
                    |  &bull; 23 days ago
                  h3 JavaScript Basics
                  p.notification-message
              li#notification-163580642.notification
                a.content-block(href='/notifications/163580642?redirect_to=%2Flibrary%2Fmodern-web-conference%2Fgetting-git')
                  .achievement-hero(style='background-color: #b7c0c7')
                    img(alt='Modern Web Conference', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/cover-conference.png')
                  p
                    strong New Episode
                    |  &bull; 24 days ago
                  h3 Getting Git
                  p.notification-message Modern Web Conference
              li#notification-162682782.notification
                a.content-block(href='/notifications/162682782?redirect_to=%2Flibrary%2Fthe-treehouse-show%2Fepisode-113-api-responses-font-compression-tab-styles')
                  .achievement-hero(style='background-color: #b7c0c7')
                    img(alt='The Treehouse Show', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/cover-show-treehouse.png')
                  p
                    strong New Episode
                    |  &bull; 24 days ago
                  h3 Episode 113: API Responses, Font Compression, Tab Styles
                  p.notification-message The Treehouse Show
            a.dropdown-secondary(href='/notifications') See All
        li#profile(data-layout-element='profile-menu')
          a(href='/melaniefryman')
            figure
              #profile-pic
                canvas.chart.featurette(data-featurette='points-chart', data-points='{"HTML":6,"CSS":6,"Design":0,"\
                JavaScript":0,"Ruby":0,"PHP":0,"WordPress":0,"\
                iOS":0,"Android":0,"Development Tools":0,"Business":0,"\
                Python":0,"Java":0}', data-points-total='43', height='46', width='46')
                img(src='https://treehouse-uploads.s3.amazonaws.com/production/profile-photos/1174452/thumb_Photo_on_2012-01-18_at_11.37__4.jpg')
              figcaption
                h4 Melanie Fryman
                em#points-counter 43
          #profile-dropdown.dropdown.right
            h4.dropdown-title
              a(href='/melaniefryman')
                strong
                  | Melanie
                  | Fryman
                span View Profile
            ul
              li
                a(href='/account') Account Settings
              li
                a(href='/account/referrals') Free Account!
            a.dropdown-secondary(href='/logout') Sign Out
      ul#breadcrumb.with-sidebar-shadow(data-layout-element='breadcrumb')
        li#back.at-home
          a(href='/home')
        li#page-title.go-home
          h3 Home
        li#mobile-nav-toggle.unread
          a(href='#')
            span.hamburger
            em.notifications 1
      nav(data-layout-element='navigation')
        ul#main-pages
          li#home.main-page.current
            a(href='/home')
              span Home
          li#tracks.main-page
            a(href='/tracks')
              span Tracks
          li#library.main-page
            a(href='/library')
              span Library
          li#forum.main-page
            a(href='/forum')
              span Forum
          li#workspaces.main-page
            a(href='/workspaces')
              span Workspaces
          li#desktop-nav-toggle
            a(href='#')
              span Expand
          li#support.secondary-page
            a(href='/support')
              span Support
          li#account.secondary-page
            a(href='/account')
              span Account
          li#sign-out.secondary-page
            a(href='/logout')
              span Sign Out
    #container.with-sidebar(data-layout-element='container')
      aside(data-layout-element='sidebar')
        select#nav-list-select
          option(selected='', value='/home')
            | Home
          option(value='/activity')
            | Activity Feed
          option(value='/melaniefryman')
            | Profile
          option(value='/account/referrals')
            | Referrals
          option(value='/notifications')
            | Notifications
          option(value='/leaderboards')
            | Leaderboards
        ul#sidebar-nav
          li.current
            a(href='/home') Home
          li
            a(href='/activity') Activity Feed
          li
            a(href='/melaniefryman') Profile
          li.referrals-link
            a(href='/account/referrals') Referrals
          li
            a(href='/notifications') Notifications
          li
            a(href='/leaderboards') Leaderboards
        div(data-markup-move='')
          //
            <div class="module feed-links">
            <div class="secondary-heading">
            <h3>iTunes feeds</h3>
            </div>
            <p>We've changed our iTunes Feed links to be more focused on individual courses. Visit the <a href="http://teamtreehouse.com/library">Library</a> page and view a Project, Deep Dive, or Bonus Content to see its iTunes Feed link at the top.</p>
            </div>
      #content
        .grid-container
          .grid-100.tour-parent
            .contained
              .grid-100
                .tour-callout.condensed
                  .welcome-panel
                    a.close-tour.button.secondary.button-close(data-method='post', href='/dashboard/hide-tour', rel='nofollow')
                    .grid-100
                      h2 Welcome Home
                      p.subheader
                        | This is your learning mission control, providing you with an
                        | overview of your current progress and total points earned at
                        | Treehouse.
                      p
                    .grid-100.grid-parent
                      .grid-50.track-callout
                        h4 You&apos;re currently On Track
                        p
                          | The Front End Web Development Track was designed by
                          a(href='/chalkers') Andrew
                          |  to guide your learning experience
                          |                         at Treehouse. You&apos;ll learn HTML and CSS and how to add
                          |                         interactivity to websites with JavaScript and jQuery.
                        a.button.button-primary.icon-on-left(href='/library/how-to-make-a-website/beginning-html-and-css/add-style-to-the-page')
                          | Resume
                          | Track
                      .grid-50
                        h4 Using Home
                        p
                          | Here you can get a snapshot view of your current Track, keep
                          | tabs on other active projects, get your points breakdown
                          | and recommendations for what to learn next.
                        a.button(data-tour-trigger-start='', href='#') Start tour
          .grid-100
            #points-expander.contained.points.featurette(data-featurette='points-expander')
              .grid-100
                #total-points.total-points-container(style='margin-bottom:30px;padding-bottom:25px;')
                  .total-points
                    .points-donut(style='display:none;')
                      canvas.chart.featurette(data-featurette='points-chart', data-points='{"HTML":6,"CSS":6,"Design":0,"JavaScript":0,"Ruby":0,"PHP":0,"WordPress":0,"iOS":0,"Android":0,"Development Tools":0,"Business":0,"Python":0,"Java":0}', data-points-total='43', height='70', width='70')
                    h1 43
                    p Total Points
                    a#points-toggle.toggle
                      span.icon.icon-collapse Collapse
              #expanded-points
                .grid-75.tablet-grid-100.mobile-grid-100.grid-parent
                  .grid-100
                    .points-breakdown
                      ul
                        li.grid-25.tablet-grid-25.mobile-grid-50.topic-html
                          .topic-stat
                            span &bull;
                            h3 6
                            p HTML
                          a.points-tooltip-wrapper(data-featurette='info-tooltip')
                            .tooltip.tooltip-top.points-tooltip
                              .tooltip-achievement-points
                                strong 6
                                em pts
                                p Achievements
                              .tooltip-forum-points
                                em
                                  strong 0
                                  | pts
                                p Forum
                        li.grid-25.tablet-grid-25.mobile-grid-50.topic-css
                          .topic-stat
                            span &bull;
                            h3 6
                            p CSS
                          a.points-tooltip-wrapper(data-featurette='info-tooltip')
                            .tooltip.tooltip-top.points-tooltip
                              .tooltip-achievement-points
                                strong 6
                                em pts
                                p Achievements
                              .tooltip-forum-points
                                em
                                  strong 0
                                  | pts
                                p Forum
                        li.grid-25.tablet-grid-25.mobile-grid-50.topic-empty
                          .topic-stat
                            span &bull;
                            h3 0
                            p WordPress
                          a.points-tooltip-wrapper(data-featurette='info-tooltip')
                            .tooltip.tooltip-top.points-tooltip
                              .tooltip-achievement-points
                                strong 0
                                em pts
                                p Achievements
                              .tooltip-forum-points
                                em
                                  strong 0
                                  | pts
                                p Forum
                        li.grid-25.tablet-grid-25.mobile-grid-50.topic-empty
                          .topic-stat
                            span &bull;
                            h3 0
                            p Development Tools
                          a.points-tooltip-wrapper(data-featurette='info-tooltip')
                            .tooltip.tooltip-top.points-tooltip
                              .tooltip-achievement-points
                                strong 0
                                em pts
                                p Achievements
                              .tooltip-forum-points
                                em
                                  strong 0
                                  | pts
                                p Forum
                        li.grid-25.tablet-grid-25.mobile-grid-50.topic-empty
                          .topic-stat
                            span &bull;
                            h3 0
                            p Android
                          a.points-tooltip-wrapper(data-featurette='info-tooltip')
                            .tooltip.tooltip-top.points-tooltip
                              .tooltip-achievement-points
                                strong 0
                                em pts
                                p Achievements
                              .tooltip-forum-points
                                em
                                  strong 0
                                  | pts
                                p Forum
                        li.grid-25.tablet-grid-25.mobile-grid-50.topic-empty
                          .topic-stat
                            span &bull;
                            h3 0
                            p iOS
                          a.points-tooltip-wrapper(data-featurette='info-tooltip')
                            .tooltip.tooltip-top.points-tooltip
                              .tooltip-achievement-points
                                strong 0
                                em pts
                                p Achievements
                              .tooltip-forum-points
                                em
                                  strong 0
                                  | pts
                                p Forum
                        li.grid-25.tablet-grid-25.mobile-grid-50.topic-empty
                          .topic-stat
                            span &bull;
                            h3 0
                            p Business
                          a.points-tooltip-wrapper(data-featurette='info-tooltip')
                            .tooltip.tooltip-top.points-tooltip
                              .tooltip-achievement-points
                                strong 0
                                em pts
                                p Achievements
                              .tooltip-forum-points
                                em
                                  strong 0
                                  | pts
                                p Forum
                        li.grid-25.tablet-grid-25.mobile-grid-50.topic-empty
                          .topic-stat
                            span &bull;
                            h3 0
                            p PHP
                          a.points-tooltip-wrapper(data-featurette='info-tooltip')
                            .tooltip.tooltip-top.points-tooltip
                              .tooltip-achievement-points
                                strong 0
                                em pts
                                p Achievements
                              .tooltip-forum-points
                                em
                                  strong 0
                                  | pts
                                p Forum
                        li.grid-25.tablet-grid-25.mobile-grid-50.topic-empty
                          .topic-stat
                            span &bull;
                            h3 0
                            p Ruby
                          a.points-tooltip-wrapper(data-featurette='info-tooltip')
                            .tooltip.tooltip-top.points-tooltip
                              .tooltip-achievement-points
                                strong 0
                                em pts
                                p Achievements
                              .tooltip-forum-points
                                em
                                  strong 0
                                  | pts
                                p Forum
                        li.grid-25.tablet-grid-25.mobile-grid-50.topic-empty
                          .topic-stat
                            span &bull;
                            h3 0
                            p JavaScript
                          a.points-tooltip-wrapper(data-featurette='info-tooltip')
                            .tooltip.tooltip-top.points-tooltip
                              .tooltip-achievement-points
                                strong 0
                                em pts
                                p Achievements
                              .tooltip-forum-points
                                em
                                  strong 0
                                  | pts
                                p Forum
                        li.grid-25.tablet-grid-25.mobile-grid-50.topic-empty
                          .topic-stat
                            span &bull;
                            h3 0
                            p Design
                          a.points-tooltip-wrapper(data-featurette='info-tooltip')
                            .tooltip.tooltip-top.points-tooltip
                              .tooltip-achievement-points
                                strong 0
                                em pts
                                p Achievements
                              .tooltip-forum-points
                                em
                                  strong 0
                                  | pts
                                p Forum
                        li.grid-25.tablet-grid-25.mobile-grid-50.topic-empty
                          .topic-stat
                            span &bull;
                            h3 0
                            p Python
                          a.points-tooltip-wrapper(data-featurette='info-tooltip')
                            .tooltip.tooltip-top.points-tooltip
                              .tooltip-achievement-points
                                strong 0
                                em pts
                                p Achievements
                              .tooltip-forum-points
                                em
                                  strong 0
                                  | pts
                                p Forum
                        li.grid-25.tablet-grid-25.mobile-grid-50.topic-empty
                          .topic-stat
                            span &bull;
                            h3 0
                            p Java
                          a.points-tooltip-wrapper(data-featurette='info-tooltip')
                            .tooltip.tooltip-top.points-tooltip
                              .tooltip-achievement-points
                                strong 0
                                em pts
                                p Achievements
                              .tooltip-forum-points
                                em
                                  strong 0
                                  | pts
                                p Forum
                .grid-25.tablet-grid-100.mobile-grid-100.grid-parent
                  .grid-100.tablet-grid-100.mobile-grid-100
                    .points-donut
                      canvas.chart.featurette(data-featurette='points-chart', data-points='{"HTML":6,"CSS":6,"\
                      Design":0,"JavaScript":0,"Ruby":0,"\
                      PHP":0,"WordPress":0,"iOS":0,"\
                      Android":0,"Development Tools":0,"Business":0,"\
                      Python":0,"Java":0}', data-points-total='43', height='200', width='200')
                .grid-100
                  .disclaimer
                    a.icon.icon-info(data-featurette='modal-trigger', data-target='user_points_explanation', href='#')
                    p
                      | Points are earned whenever you take an important action on Treehouse.
                      br
                      a(data-featurette='modal-trigger', data-target='user_points_explanation', href='#') Learn more
                      |                     about when and how points are earned.
          .grid-100
            .secondary-heading
              h2 Your Track Progress
            ul.content-block-list
              li
                .content-block.track.in-progress
                  .content-meta
                    strong Track
                    a(href='/tracks/front-end-web-development')
                      h3 Front End Web Development
                    .hero-points
                      .points-timeline
                        span.course-progress-count 1
                        .points-detail-container
                          table
                            tr
                              td
                                a.in-progress
                                  .tooltip.tooltip-top
                                    strong How to Make a Website
                                    p 10 Stages
                              td
                                a
                                  .tooltip.tooltip-top
                                    strong HTML
                                    p 7 Stages
                              td
                                a
                                  .tooltip.tooltip-top
                                    strong CSS Foundations
                                    p 13 Stages
                              td
                                a
                                  .tooltip.tooltip-top
                                    strong Introduction to Programming
                                    p 4 Stages
                              td
                                a
                                  .tooltip.tooltip-top
                                    strong JavaScript Foundations
                                    p 6 Stages
                              td
                                a
                                  .tooltip.tooltip-top
                                    strong jQuery Basics
                                    p 6 Stages
                              td
                                a
                                  .tooltip.tooltip-top
                                    strong Accessibility
                                    p 3 Stages
                              td
                                a
                                  .tooltip.tooltip-top
                                    strong Website Optimization
                                    p 1 Stages
                              td
                                a
                                  .tooltip.tooltip-top
                                    strong Console Foundations
                                    p 5 Stages
                              td
                                a
                                  .tooltip.tooltip-top
                                    strong Git Basics
                                    p 6 Stages
                              td
                                a
                                  .tooltip.tooltip-top
                                    strong Sass Basics
                                    p 4 Stages
                        span.course-progress-count 11
                    .current-project
                      a(href='/library/how-to-make-a-website/beginning-html-and-css')
                        .current-syllabus-hero(style='background-color:#39ADD1')
                          img#syllabus-flag.badge(alt='Ipad default 2x cover html howtobuildawebsite', src='https://wac.A8B5.edgecastcdn.net/80A8B5/achievement-images/flags/ipad_default_2x_cover-html-howtobuildawebsite.png')
                        .current-project-meta
                          p
                            strong How to Make a Website
                          h4 Beginning HTML and CSS
                          .markdown-zone
                            p
                              | In this quick tutorial, we&apos;ll check out an example of the
                              | final web project we&apos;re aiming to build. Then, we&apos;ll
                              | learn how to code our first HTML element, which will
                              | help form the structure of our website. Finally, we&apos;ll
                              | finish up by styling our website with some simple CSS.
                              | These two languages, HTML and CSS, form the basic building
                              | blocks of any web project.
                  .achievement-steps
                    ul(style='display: block;')
                      li.toggle-steps.featurette(data-featurette='track-snapshot-expander')
                        a
                          span.icon.icon-chevron-down
                          span#snapshot-state Show all steps
                      li.next.full-view(style='display:none;')
                        a(href='/library/how-to-make-a-website/beginning-html-and-css/introduction-to-html-and-the-portfolio-project')
                          span.icon.icon-complete
                          span.icon.icon-video
                          p 4:17 &middot; Video
                          strong
                            | Introduction to HTML and the Portfolio
                            | Project
                      li.next.full-view(style='display:none;')
                        a(href='/library/write-an-html-element')
                          span.icon.icon-complete
                          span.icon.icon-code-challenge
                          p 2 objectives &middot; Challenge
                          strong Write an HTML Element
                      li.next
                        a(href='/library/how-to-make-a-website/beginning-html-and-css/follow-along-with-workspaces')
                          span.icon.icon-complete
                          span.icon.icon-video
                          p 6:14 &middot; Video
                          strong Follow Along with Workspaces
                      li.current
                        a(href='/library/how-to-make-a-website/beginning-html-and-css/add-style-to-the-page')
                          img.featurette(alt='Thumb photo on 2012 01 18 at 11.37 4', data-featurette='sonar-ping', data-location='Home', src='https://treehouse-uploads.s3.amazonaws.com/production/profile-photos/1174452/thumb_Photo_on_2012-01-18_at_11.37__4.jpg')
                          p 8:13 &middot; Video
                          strong Add Style to the Page
                      li.next
                        a
                          span.icon.icon-code-challenge
                          p 3 objectives &middot; Challenge
                          strong Write a CSS Selector and Property
                      li.next.full-view(style='display:none;')
                        a
                          span.icon.icon-quiz
                          p 7 questions &middot; Quiz
                          strong Review: Beginning HTML and CSS
                  .track-footer
                    .grid-container
                      .content-actions-container
                        ul
                          li
                            a.button.button-primary.button-resume.icon-on-left(href='/library/how-to-make-a-website/beginning-html-and-css/add-style-to-the-page')
                              | Resume Track
                          li.track-time-estimate
                            span.icon.icon-clock
                            |  Time estimate: 
                            strong
                              | About
                              | 60 hours
                            |  remaining
            .secondary-heading
              h2 Your Courses
            ul.card-list
              li#Syllabus-30.card.course.javascript.home-card(data-featurette='add-to-home', data-location='home')
                a.title(href='/library/javascript-foundations')
                  .progress
                    ul.stages
                      li 1
                      li 2
                      li 3
                      li 4
                      li 5
                      li 6
                    span.estimate 8 hours
                  strong Course
                  h3 JavaScript Foundations
                  p.description
                    | Learn the fundamentals to the JavaScript Language. JavaScript is
                    | the key to programming in the browser, mastering jQuery, and building
                    | apps with Node.js. You will learn how to program effectively in
                    | JavaScript, the different types, functions, and techniques for
                    | writing solid JavaScript. You will benefit from taking Introduction
                    | to Programming if you don&apos;t have much experience with programming.
                  p.current-step.hidden
                  .complete-status.hidden
                    span.complete-title
                ul.tags
                  li.topic.javascript
                    a(data-filter-list-val='topic:javascript')
                      span JavaScript
                  li.difficulty
                    span Beginner
                  li.truncated-tags
                    span
                    ul
                ul.actions.hidden
                  li.resume
                    a.button.button-primary(href='/library/30') Start
                  li.add-to-home
                    a(data-method='POST', href='/library/javascript-foundations/pin', rel='nofollow')
                .confirmation-tarp.error
                  h4 Uh-oh!
                  p Something went wrong when trying to save your request.
                  a.button.secondary(data-close='', href='#') Close
                .confirmation-tarp.added
                  h4 Added to Home
                  p Track your daily progress right from your Home.
                  a.button.secondary.undo(data-method='DELETE', href='/library/javascript-foundations/unpin', rel='nofollow')
                    span Undo
                .confirmation-tarp.removed
                  h4 Removed from Home
                  a.button.secondary.undo(data-method='POST', href='/library/javascript-foundations/pin', rel='nofollow')
                    span Undo
              li#Syllabus-242.card.course.css.home-card(data-featurette='add-to-home', data-location='home')
                a.title(href='/library/css-layout-techniques')
                  .progress
                    ul.stages
                      li 1
                      li 2
                      li 3
                      li 4
                      li 5
                    span.estimate 3 hours
                  strong Course
                  h3 CSS Layout Techniques
                  p.description
                    | Learn how to work with the common layout and positioning methods
                    | used in web design. Throughout the course we&apos;ll build a layout
                    | using display methods, floats, positioning schemes, even Flexbox,
                    | the latest and most advanced CSS layout feature. We&apos;ll cover the
                    | strengths and benefits of each method, along with common layout
                    | issues and how to solve them. At the end of the course we&apos;ll learn
                    | how to create a responsive grid system using many of the layout
                    | and positioning techniques covered.
                  p.current-step.hidden
                  .complete-status.hidden
                    span.complete-title
                ul.tags
                  li.topic.css
                    a(data-filter-list-val='topic:css')
                      span CSS
                  li.difficulty
                    span Beginner
                  li.truncated-tags
                    span
                    ul
                ul.actions.hidden
                  li.resume
                    a.button.button-primary(href='/library/242') Start
                  li.add-to-home
                    a(data-method='POST', href='/library/css-layout-techniques/pin', rel='nofollow')
                .confirmation-tarp.error
                  h4 Uh-oh!
                  p Something went wrong when trying to save your request.
                  a.button.secondary(data-close='', href='#') Close
                .confirmation-tarp.added
                  h4 Added to Home
                  p Track your daily progress right from your Home.
                  a.button.secondary.undo(data-method='DELETE', href='/library/css-layout-techniques/unpin', rel='nofollow')
                    span Undo
                .confirmation-tarp.removed
                  h4 Removed from Home
                  a.button.secondary.undo(data-method='POST', href='/library/css-layout-techniques/pin', rel='nofollow')
                    span Undo
              li#Syllabus-51.card.course.development-tools.home-card(data-featurette='add-to-home', data-location='home')
                a.title(href='/library/database-foundations')
                  .progress
                    ul.stages
                      li 1
                      li 2
                      li 3
                      li 4
                      li 5
                      li 6
                      li 7
                      li 8
                      li 9
                    span.estimate 6 hours
                  strong Course
                  h3 Database Foundations
                  p.description
                    | In Database Foundations we&apos;ll look into the ins and outs of databases.
                    | Databases can store massive amounts of information to be retrieved
                    | at a later date. Databases act as the memory for dynamic web sites
                    | or mobile apps.
                  p.current-step.hidden
                  .complete-status.hidden
                    span.complete-title
                ul.tags
                  li.topic.development-tools
                    a(data-filter-list-val='topic:development-tools')
                      span
                        | Dev
                        | Tools
                  li.difficulty
                    span Beginner
                  li.truncated-tags
                    span
                    ul
                ul.actions.hidden
                  li.resume
                    a.button.button-primary(href='/library/51') Start
                  li.add-to-home
                    a(data-method='POST', href='/library/database-foundations/pin', rel='nofollow')
                .confirmation-tarp.error
                  h4 Uh-oh!
                  p Something went wrong when trying to save your request.
                  a.button.secondary(data-close='', href='#') Close
                .confirmation-tarp.added
                  h4 Added to Home
                  p Track your daily progress right from your Home.
                  a.button.secondary.undo(data-method='DELETE', href='/library/database-foundations/unpin', rel='nofollow')
                    span Undo
                .confirmation-tarp.removed
                  h4 Removed from Home
                  a.button.secondary.undo(data-method='POST', href='/library/database-foundations/pin', rel='nofollow')
                    span Undo
          .grid-100
            ul.content-block-list
              li.grid-50.tablet-grid-50
                a.find-content(href='/library')
                  strong
                    | Browse
                    | Library
                  p Find a course that best suits your interests.
              li.grid-50.tablet-grid-50
                a.find-content(href='/tracks')
                  strong
                    | Browse
                    | Tracks
                  p
                    | Choose from guided paths that train you for a specific
                    | role.
          .grid-100(data-markup-move-target='')
        script(type='text/javascript').
          /* <![CDATA[ */
          var google_conversion_id = 1017883234;
          var google_conversion_label = "WnFACKbXkwMQ4tSu5QM";
          var google_custom_params = window.google_tag_params;
          var google_remarketing_only = true;
          /* ]]> */
        script(src='//www.googleadservices.com/pagead/conversion.js', type='text/javascript')
        noscript
          div(style='display:inline;')
            img(alt='', height='1', src='//googleads.g.doubleclick.net/pagead/viewthroughconversion/1017883234/?value=0&label=WnFACKbXkwMQ4tSu5QM&guid=ON&script=0', style='border-style:none;', width='1')
      footer
        #footer-bonus
          div
            h5 Career Resources
            a.svg(href='/career-resources', title='Career Resources')
            p
              | Get 
              a(href='/career-resources') tips and resources
              |  on how to prepare
              |             for and find a new job in the industry.
          div
            h5 Treehouse For iPad
            a.svg(href='/ipad', title='Get the iPad App')
            p
              | Learn anytime and anywhere with 
              a(href='/ipad')
                | Treehouse for
                | iPad
              | . Download it for free today in the App store.
          div
            h5 Student Perks
            a.svg(href='/perks', title='See the student perks.')
            p
              | A collection of 
              a(href='/perks') special discounts
              |  and exclusive offers
              |             available for Treehouse students.
        ul#footer-extras
          li.social-icon
            a(href='http://twitter.com/treehouse', target='_blank', title='Twitter')
          li.social-icon
            a(href='http://youtube.com/user/gotreehouse', target='_blank', title='Youtube')
          li.social-icon
            a(href='http://facebook.com/teamtreehouse', target='_blank', title='Facebook')
          li.social-icon
            a(href='http://plus.google.com/110278003536476194286/posts', target='_blank', title='Google Plus')
          li.social-icon
            a(href='http://linkedin.com/company/treehouse-island-inc-', target='_blank', title='LinkedIn')
          li.social-icon
            a(href='http://instagram.com/teamtreehouse', target='_blank', title='Instagram')
          li#about
            a(href='/about') About Treehouse
          li#privacy
            a(href='/privacy', rel='nofollow') Privacy Policy
          li#terms
            a(href='/terms', rel='nofollow') Terms &amp; Conditions
          li#copyright 2014 Treehouse Island, Inc.
    // Tour Content
    ol(data-tour='Dashboard tour')
      // class="tour-container"
      li.tour-step(data-on-enter="if($('#total-points').hasClass('collapsed')){ $('#points-toggle').click()}", data-tour-position='top', data-tour-step-selector='#points-expander', data-tour-step-width='250px')
        h3 Points breakdown
        p
          | Points are an indicator of how much you&apos;ve done on Treehouse in various subject
          | areas. Complete code challenges, earn badges, participate in the forums and
          | watch your point totals rise!
        a.button.icon-on-right(data-tour-trigger-step='') Ok, Next
      li.tour-step(data-on-enter="$('#points-toggle').click()", data-tour-position='top', data-tour-step-selector='.points', data-tour-step-width='250px')
        h3 Collapsed view
        p
          | By default we&apos;ll show you a collapsed view of your points, so you can keep
          | an eye on your total on your way to the next lesson.
        a.button.icon-on-right(data-tour-trigger-step='') Ok, Next
      li.tour-step(data-tour-position='top', data-tour-step-selector='.track', data-tour-step-width='250px')
        h3 Track snapshot
        p
          | Your Track snapshot will show you where you left off and what&apos;s next, making
          | it as easy as possible to stay On Track.
        a.button.icon-on-right(data-tour-trigger-step='') Ok, Next
      li.tour-step(data-tour-position='left', data-tour-step-selector='#sidebar-nav', data-tour-step-width='250px')
        h3 All of your data in one place
        p
          | Want to review your recent activity? Preview your public profile? Everything
          | you could want to know about your time at Treehouse is available here.
        a.button.icon-on-right(data-tour-trigger-death='') Ok, Done
    // yields content from within treehouse-tour paths. Find helper in application.helper
    #user_points_explanation.modal.modal-points(data-featurette='modal', style='; display: none;')
      .grid-container
        .grid-50.tablet-grid-50.grid-parent.centered
          .contained
            button.modal-close.small.square.secondary(data-modal-close='close')
            .grid-100.secondary-heading
              h1 How points work
            .grid-100
              p
                | Points are earned as you complete Code Challenges, Quizzes, Courses and
                | Tracks. They are then added to the learning topic that was covered.
            dl
              dd
                .grid-33.tablet-grid-50
                  dl
                    dt
                      strong Upvoted
                      |  Forum Post
                    dd 1 point
                .grid-33.tablet-grid-50
                  dl
                    dt
                      strong Voted Best Answer
                      |  Forum Post
                    dd 12 points
                .grid-33.tablet-grid-50
                  dl
                    dt
                      strong Completed
                      |  Quiz
                    dd 6 points
                .grid-33.tablet-grid-50
                  dl
                    dt
                      strong Completed
                      |  Code Challenge
                    dd 12 points
                .grid-33.tablet-grid-50
                  dl
                    dt
                      strong Completed
                      |  Stage
                    dd 30 points
                .grid-33.tablet-grid-50
                  dl
                    dt
                      strong Completed
                      |  Course
                    dd 60 points
                .grid-33.tablet-grid-50
                  dl
                    dt
                      strong Completed
                      |  Track
                    dd 150 points
    #contact-form-modal.modal(data-featurette='help-modal', style='; display: none;')
      .grid-container
        .grid-60.centered
          #help-form.contained.featurette(data-featurette='help-form')
            .grid-100.secondary-heading
              h2 Contact Support
              button.modal-close.small.square.secondary(data-modal-close='close')
            .grid-70
              .message.waiting
                span.loading-spinner.loading-spinner-large
                  span
              .message.success
                p
                  strong Thanks!
                  |  We&apos;ll be in touch.
              form#contact-form.new_contact_form(accept-charset='UTF-8', action='/contact', method='post', name='contact-form')
                div(style='display:none')
                  input(name='utf8', type='hidden', value='')
                  input(name='authenticity_token', type='hidden', value='vKkaN9eFUTmj+pLVYy1ekMpv4baGBBzwbZ36zMA7rsU=')
                .message.error
                  p There was a small problem sending your message.
                input#contact_form_user_id(name='contact_form[user_id]', type='hidden', value='1174452')
                .form-item
                  label(for='contact_form_name')
                    | Name 
                    span *
                  input#contact_form_name(name='contact_form[name]', type='text', value='Melanie Fryman')
                  .error-message
                .form-item
                  label(for='contact_form_email')
                    | Email 
                    span *
                  input#contact_form_email(name='contact_form[email]', type='text', value='melanie@frymanet.com')
                  .error-message
                fieldset.honey-pot-field
                  .form-item
                    label(for='contact_form_email_confirmation')
                      | Email Confirmation 
                      span *
                    input#contact_form_email_confirmation(name='contact_form[email_confirmation]', type='text', value='')
                    .error-message
                .form-item
                  label(for='contact_form_message')
                    | Message
                    span *
                  textarea#contact_form_message.form-element(name='contact_form[message]', rows='2')
                  .error-message
                button.button.button-primary Send Message
            .grid-30
              .module.secondary-module.contact-alternative
                p You can also email support requests to:
                p
                  a(href='mailto:help@teamtreehouse.com')
                    | help
                    span @
                    | teamtreehouse.com
              .module.secondary-module.contact-alternative
                .secondary-heading
                  h3 Content questions?
                span.icon.icon-forum
                p
                  | Don&apos;t forget you can start a discussion in the 
                  a(href='/forum') Forum
                  | .
                  |                 Treehouse teachers and members are actively discussing topics from
                  |                 course material and other general teaching topics.
    #mini-profile-container
    #tarp.modal-tarp(style='display: none;', data-featurette='tarp')
    #pubnub(ssl='on')
    script(src='//cdn.pubnub.com/pubnub.min.js')
    script.
      var pubnub = PUBNUB.init({
      subscribe_key : "sub-e2de2b5c-13c2-11e2-b508-f53fda4cd93d",
      origin        : 'pubsub.pubnub.com',
      ssl           : true
      });
    script(src='https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/application-8704fffa05292d6d4248474515e554fc.js')
    script(type='text/javascript').
      /* <![CDATA[ */
      var google_conversion_id = 1017883234;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    script(type='text/javascript', src='//www.googleadservices.com/pagead/conversion.js')
    noscript
      div(style='display:inline;')
        img(height='1', width='1', style='border-style:none;', alt='', src='//googleads.g.doubleclick.net/pagead/viewthroughconversion/1017883234/?value=0&guid=ON&script=0')
    script(type='text/javascript').
      mixpanel.register({visitor_id: 1152275512});
      //  ensure we only send this once per day
      if ($.cookie("mpVisited") === undefined) {
      mixpanel.track("Visited Site", {path: "/home"},
      function() { $.cookie("mpVisited", "true", {expires: 1}); });
      mixpanel.people.increment('daily_visits');
      }
    script.
      (function() { var _fbq = window._fbq || (window._fbq = []); if (!_fbq.loaded) {
      var fbds = document.createElement('script'); fbds.async = true; fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(fbds, s); _fbq.loaded = true; } _fbq.push(['addPixelId', "688952224481965"]); })();
      window._fbq = window._fbq || []; window._fbq.push(["track", "PixelInitialized", {}]);
    noscript
      img(height='1', width='1', border='0', alt='', style='display:none', src='https://www.facebook.com/tr?id=688952224481965&ev=NoScript')
    script(type='text/javascript').
      adroll_adv_id = "KIZYNJXKQFHZRL33ET4IIJ";
      adroll_pix_id = "5SMHKC6AK5D3DJAZBGP4PX";
      adroll_custom_data = { "Id": "1174452" };
      (function () {
      var oldonload = window.onload;
      window.onload = function(){
      __adroll_loaded=true;
      var scr = document.createElement("script");
      var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
      scr.setAttribute('async', 'true');
      scr.type = "text/javascript";
      scr.src = host + "/j/roundtrip.js";
      ((document.getElementsByTagName('head') || [null])[0] ||
      document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
      if(oldonload){oldonload()}};
      }());
